#HomeScreen {
    background-image: url("../../public/assets/HomeScreen/bacgroundImage-Self.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
